<a href="https://colab.research.google.com/github/Jaishreesrinivasan24/Python-Libraries/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#pandas is panel database usually used for 2 dimension array for creating data frame

# New Section

In [ ]:
import numpy as np
import pandas as pd #as is alias

In [ ]:
#when there is 2D matrices.
arr =np.array([[1,2,3],[3,4,5]])

In [ ]:
arr

array([[1, 2, 3],
       [3, 4, 5]])

In [ ]:
#this creates dataframe first 0,1,2 are column index and o,1 are row index
pd.DataFrame(arr)

   0  1  2
0  1  2  3
1  3  4  5

In [ ]:
df=pd.DataFrame(arr,Columns=['a','b','c'])
df

TypeError: ignored

In [ ]:
#if we want to import data from outside source from any website (eg wikipiedia
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_Hindi_films_of_2023')

In [ ]:
movies=df[5]

In [ ]:
movies

In [ ]:
#top five records
movies.head()

In [ ]:
#last 5 movies
# default is 5
#if you want more define number in bracket movie.head(10)

movies.tail()

In [ ]:
#if you want to filter it by year
#will not work because it doesnot have same attribute(column_name)
movies[movies['Year']>2020]

In [ ]:
#check dataframe
type(movies)

pandas.core.frame.DataFrame

In [ ]:
list(movies.columns)

In [ ]:
#check variable
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Opening                    31 non-null     object
 1   Opening.1                  31 non-null     int64
 2   Title                      31 non-null     object
 3   Director                   31 non-null     object
 4   Cast                       31 non-null     object
 5   Studio (production house)  31 non-null     object
 6   Ref.                       31 non-null     object
dtypes: int64(1), object(6)
memory usage: 1.8+ KB

In [ ]:
#for indiviual variable
#this will be one dimensional data
type(movies['Title'])

pandas.core.series.Series

In [ ]:
type(movies[['Title']])

pandas.core.frame.DataFrame

In [ ]:
#.shape will give the view of the data; it will tell number of rows and column
movies['Title'].shape

(31,)

In [ ]:
movies[['Title']].shape

(31, 1)

In [ ]:
movies['Title']

In [ ]:
#to deal with 2 columns
movies[['Title', 'Director']]

In [ ]:
movies['Title'].dtypes

dtype('O')

In [ ]:
#get data .csv or excel file
#upload the file
ht=pd.read_excel('cw_tables.xlsx')

In [ ]:
from sklearn.datasets import fetch_california_housing

In [ ]:
ca_housing=fetch_california_housing()

In [ ]:
ca_housing

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [ ]:
#to look dictionaries in data set
ca_housing.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'feature_names', 'DESCR'])

In [ ]:
#read about data set
ca_housing.DESCR

'.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'

In [ ]:
df=pd.DataFrame(ca_housing.data, columns=ca_housing.feature_names)

In [ ]:
list(fetch_california_housing.columns)

AttributeError: ignored

In [ ]:
df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [ ]:
#to do descriptive data
#numerical vs category data
df.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000

In [ ]:
#find outliers
#outliers=q1-1.5iqr or q3+-1.5iqr
#
#iqr=4.743250(q1)-2.563400(q3)
#iqr is inter quratile range == q3 is 75% of data and so on.
#lowerbound outliew =q1-1.5*Iqr
q1=18.00
q3=37.0000
iqr=q3-q1
l_b_outliers=q1-1.5 *iqr
u_b_outlier = q3+1.5 *iqr

In [ ]:
l_b_outliers, u_b_outlier

(-10.5, 65.5)

In [ ]:
df.describe(include='O')

In [ ]:
df.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000

In [ ]:
#to find the null records
df.isnull().sum()
#to check in table where are the null values
#df.isnull()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

In [ ]:
#to see all null records
df[df.isnull().any(axis=1)]

In [ ]:
#df.dtypes[df.dtypes=='object'].index
df.dtypes[df.dtypes=='infloat64'].index

Index([], dtype='object')

In [ ]:
#feature extraction: when 1 column are not useful for prediction but when combined they are very useful
#example : time or date
#syntax to merge (add) to column here we are merging total amount of income
df['total_income']=df['applicantIncome']+df['coapplicantIncome']

In [ ]:
#another example of feature extraction:
df['new_total_income']=df['total_income']+1000

In [ ]:
#in any object data how many unique caterogry of values are present.
df['Dependents'].unique()

In [ ]:
df['Dependents'].value_counts()

In [ ]:
df['Gender'].value_counts()

In [ ]:
#to filter anything : here to filter apllicant income greater than 5000
df[df['ApplicantIncome']>5000]

In [ ]:
#multiple filteration
df[df['ApplicantIncome']>5000 &df['LoanAmount']>300]
#to see size of the above filter
df[df['ApplicantIncome']>5000 &df['LoanAmount']>300].shape

In [ ]:
#to see row index from table
df[0:10]
df[100:120]

In [ ]:
#to see particular row but only limited column techinque 1
df[['LoanId','ApplicantIncome']][100:120]

In [ ]:
# Ilock(index location)technique 2
df.iloc[0:2,0:2]
#first is row index and second is column index

In [ ]:
#loc technique (location Techinque) this will not use double brackets
df.loc[0:5,['loanId','Gender','Married','Dependent','Education','Self_Emplyoed']]

In [ ]:
#drop column it will visually drop the table data remains in original data
df.drop('Loan_Id',axis =1)
#instead create copy and use the function
df_copy=df.drop('Loan_ID',axis=1)
#axis=1 that is column
#axis =0 that is row
#to drop whole column axis is 1
#to drop one row axis is 0
#to drop permanently \inplace drops permanently
df.drop('Loan_Id',axis =1 ,inplace=True)
#drop missing value
#drop any particular row
df_copy.drop(0,axis=0, inpace=True)

In [ ]:
# to reset the dropped index(retrive dropped column or row)

#drop null value
df_copy.dropna(inplace=True)
# after dropping index are not in order so it needs tobe reset
df_copy.reset_index(drop=True, inplace=True)

In [ ]:
#concanate two dataset
df1=df[['married','education','self_employed','applicant_income']]
df2=df[['coapplicant','loanamount']]
#row wise
df3=pd.concat([df1,df2])
#column wise
df4=pd.concat([df1,df2],axis=1)

In [ ]:
#fill missing value
#1.check missing value
df.isna().sum

#for category data fill misiing values by using mode
#for numerical column  fill by using mean or median

#2. fill misiing value
#treat misiing values in gender column
# this to check null value in gender
df[df['Gender'].isnull()]
#check the most occurring count (ie find mode)
df['gender'].value_counts()
#filling null value as male
df['Gender'].filling('male',inplace=True)

In [ ]:
#when to use mean: when you dont have outliers
#when you have outliers use median
#to find ouliers use viualization

In [ ]:
import requests
Response = requests.get("https://www.kaggle.com/datasets/burak3ergun/loan-data-set/data?select=loan_data_set.csv")